<a href="https://colab.research.google.com/github/louisdelacruz/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#If Statement

a = 12
b = 100

if a < b:
  print("a is less than b")

a is less than b

In [3]:
#Elif Statement
if a<b:
  print('a is kess than b')
elif a>b:
    print("a is greater than b")

a us kess than b

In [4]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print('a is equal to b')

a is less than b

In [7]:
#Short Hand If Statement

c=5
d=10

if c>d: print("c>d")

In [8]:
#Short Hand If... Else Statement
print('c>d') if c>d else print('d>c')

d>c

In [10]:
#And Statement
if 5>10 and 8>4:
  print("both statements are true")
else:
  print("one of the statements is false /both statements are not true")

one of the statements is false /both statements are not true

In [17]:
#Or Statement
if  5>10 or 4>8:
  print("True")
else:
  print("False")

False

In [20]:
#Bitwise operator ^ (xor)
e=4   #0100 in binary
f=2   #0010 in binary
e^f

6

In [22]:
#Nested If Statement
x = 41
if x>10:
  print("number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x>40:
        print("number is above 40")
        if x>50:
          print("number is above 50")
        else:
          print("number is less than 50")
      else:
        print("number is less than 40")

number is above 10
number is above 20
number is above 30
number is above 40
number is less than 50

In [ ]:
#Write a program that determuines If the input age is qualified to vote or not.
#The qualifying age is 18 years old and above.

In [39]:
#Application 1. Write a program that determines if the input age is qualified to vote or not.

age = input("Input your age: ")
#type(age(int))
if int (age)>17:
    print("You are legal to vote.")
else:
    print("You're not legible to vote.")

Input your age: 18
You are legal to vote.

In [36]:
#Application 2. Write a program that determines if the number is POSITIVE, NEGATIVE, or Zero.
num = input("Enter a number:")
num = int(num)

if num > 0:
  print("POSITIVE")
elif num<0:
  print("NEGATIVE")
else:
  print("ZERO")

Enter a number:-2
NEGATIVE

In [23]:
#For loop Statement
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [30]:
#For loop Statement
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [26]:
for x in "week":
 print(x)

w
e
e
k

In [27]:
#range () function
for x in range(2,6+1,1):
  print(x)

2
3
4
5
6

In [34]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","berry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red berry
big apple
big banana
big berry
tasty apple
tasty banana
tasty berry

In [35]:
i = 1
while i <= 6:
  print(i)
  i+=1

1
2
3
4
5
6

In [38]:
i = 1
while i <= 6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [75]:
#using while loop and break statement, the output is only 3
i = 1
while i <= 6:
  if i == 3:
   print(i)
   break
  i+=1

3